.react-tel-input{
    width: 60% !important;
    height: 70px !important;
}
.react-tel-input input[type=text], .react-tel-input input[type=tel]{
    border: none !important;
    margin-top: 17px !important;
}

/* @media only screen and (max-width: 728px)
.marquee-wrapper {
    zoom: 35%;
} */